@inherits LayoutComponentBase

<PageTitle>PlayersBlazorApp</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <section class="content px-4">
            @Body
        </section>
    </main>
</div>
